<li class="<%= (round_counter%2 == 0) ? 'even' : 'odd' %> <%= round.status %>">
<div class="round-status fleft <%= round.status %>-text"><%= round.status %></div> Started on <%= round.created_at %>. <%= link_to "View round", round_path(round) %>.
</li>
